* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(214, 214, 214);
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.header_top_block{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-self: center;
  
}
.sectioin {
  height: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
  justify-items: center;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.sectioin a{
  text-decoration: none;
  color: black;
}

.wrapper {
  max-width: 390px;
  height: auto;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  box-sizing: content-box;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-sizing: border-box;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;

}


.title {
  width: 100%;
  height: auto;
  padding: 5px 0;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.title h2{
  font-size: 18px;
  font-weight: bolder;
 height: 80px;
}

.title h2:hover{
  color: blue;
}
.image {
  width: 100%;
  height: 300px;
  box-sizing: content-box;
}
.image img {
  width: 100%;
  height: 100%;
}

.title__parag {
  padding: 10px 0;
  height: 80px;

}
.title__parag p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
.message {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
}

.message img {
  width: 16px;
}

.postHeader {
  width: 70%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.postHeader h1{
  margin-top: 80px;
}
.postLabel {
  display: block;
  padding: 10px;
}
.postLabel p {
  padding: 10px 0;
  font-weight: bold;
}
input {
  width: 700px;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.send {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 50px auto;
}

.sendBtn {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
  background-color: rgb(0, 245, 122);
  color: #fff;
}

.sendBtn:hover {
  background-color: rgb(80, 13, 238);
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  cursor: pointer;
}

.textArea {
  width: 100%;
  font-size: 18px;
  padding: 10px;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, rgb(211, 11, 201), rgb(195, 255, 0));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
}



.logo img {
  width: 200px;
}

.menu {
  width: 100%;
  padding: 10px;
}

.menu ul {
 display: grid;
 grid-template-columns: repeat(5, 1fr);

 align-items: center;
 justify-items: center;
  
}

.menu ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  margin-left: 10px;
}

.sign__register {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: block;
  text-decoration: none;
}

.sign__register button {
  margin-left: 10px;
  padding: 10px 40px;
  width: 80%;
  border: none;
  outline: none;
  background-color: rgb(109, 18, 199);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: 3px solid transparent;
}

.sign__register button img {
  width: 20px;
  margin-right: 10px;
}

.sign__register a button:hover{
  border: 3px solid rgb(109, 18, 199);
  background-color: rgb(0, 0, 0);
}

.sign-in {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to left, rgb(21, 168, 212), rgb(155, 24, 216));
  color: #fff;
}

.sign-in_block {
  width: 50%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  
}
.sign-in_block input{
  width: 50%;
  min-width: 200px;
}
.sign-in_block span{
  color: red;
  font-size: 22px;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  margin: 0;
}


.photo {
  padding: 30px;
}

.photo img {
  width: 70%;
}

.sign__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in_block img {
  width: 300px;
}
.auth_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin: 0 auto;
 
}
.auth_btn button{
  margin-top: 10px;
}

.auth, .registerBtn{
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgb(130, 14, 224);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  margin-right: 30px;
}

.register_wrapper{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgb(0, 255, 149), rgba(3, 135, 187, 0.986));
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('./icons/smoke1.png') repeat-x;
}

.register_wrapper form{
  width: 500px;
  height: 700px;
  background: linear-gradient(to bottom, rgb(228, 6, 209), rgb(11, 201, 235));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10px 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: fixed;
}

.register_wrapper form input{
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 10px rgb(246, 246, 246);
}

.rgs{
  width: 300px;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(79, 1, 224);
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

.rgs img{
  width: 25px;
  margin-right: 10px;
}

.register_wrapper form > span{
  color: rgb(255, 2, 2);
  font-size: 22px;
  font-weight: 700;
  text-shadow: 0 0 10px black;
  
}

.userProfile{
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  position: relative;
  cursor: pointer;
  z-index: 80;
}

.userProfile img{
  width: 30px;
  margin-right: 20px;
}

.userProfile p{
  font-weight: 700;
  font-size: 18px;
}

.profile_block{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  background-color: #fff;
  box-shadow: 0 0 10px black;
  z-index: 60;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
}
.profile_block ul{
  width: 100%;
  text-align: center;
}

.profile_block ul li{
  width: 100%;
  list-style: none;
  padding: 5px;
  color: #000;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.profile_block ul li:hover{
    box-shadow: 0 0 5px black;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}


.postBlock_wrapper{
  max-width: 60%;
  min-width: 350px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px gray;
  margin-top: 80px;
  border-radius: 20px;
  padding: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.posts{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}

.posts>h1{
  text-align: center;
  margin: 20px auto;
}
.posts img{
  margin: 20px auto;
  width: 60%;
  
}
.posts iframe{
  width: 70%;
  height: 50vh;
}
.posts p{
  padding: 0px 20px;
  font-size: 18px;
  margin: 10px auto;
 
}
.author{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(110, 230, 11);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #fff;
  cursor: pointer;
}
.author img{
  width: 20px;
  margin-right: 10px;

}

.lodaer{
  max-width: 392px;
  max-height: 471px;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.comments{
  width: 100%;
  min-width: 250px;
  height:100px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px gray;
  margin-top: 10px;
  

}

.commentForm{
  display: flex;
}

.commentForm textarea{
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  outline: none;
}

.commentBtn{
  background: rgb(0, 63, 200);
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.mobile_menu{
  display: none;
}

.menu_mobile{
  width: 100%;
  padding: 20px 0;
  position: absolute;
  top: 60px;
  left:0px;
  background-color: rgb(224, 179, 32);
}

.menu_mobile ul{
  width: 100%;
  text-align: left;

}

.menu_mobile ul li{
  list-style: none;
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  margin-top: 1px;
  
}

.mobile_menu img{
  width: 30px;
}

@media (max-width: 1200px){
  .container{
    max-width: 996px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    
  }
  .sectioin{
    grid-template-columns: repeat(2, 1fr);

  }
  .title{
    padding: 10px;
  }

  .title h2{
    font-size: 20px;
    line-height: 20px;
    
  }
.mobile_auth_btn button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(207, 6, 207);
  border: none;
  outline: none;
  color:#fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.mobile_auth_btn button img{
  width: 30px;
  margin-right: 20px;
}


  .postBlock_wrapper{
    width: 100%;
  }

  .postBlock_wrapper{
    max-width: 80%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px;
}


}
@media (max-width:992px) {
  .container{
    max-width: 768px;
    
  }
    .header_top_block{
      width: 100%;
     
      grid-template-columns: 1fr  1fr;
    }

    .header_top_block  .menu{
      display: none;
    }

    .mobile_menu{
      display: block;
      justify-self: end;
      cursor: pointer;
    }
    .userProfile{
      display: none;
    }

    .menu{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }

    
  .postBlock_wrapper{
      max-width: 80%;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
     
      padding: 10px;
    }

  .posts>h1{
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
  }
  .posts img{
    margin: 20px auto;
    width: 100%;
    
  }
  .posts iframe{
    width: 100%;
    height: 40vh;
  }
  .posts p{
    padding: 0px 10px;
    font-size: 18px;
    margin: 0px auto;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}
  .sign__register{
    display: none;
  }

    
  
}


@media (max-width:768px){
  .container{
   
    padding: 0 10px;
    
  }
  
  .sectioin{
    width: 100vw;
    grid-template-columns: 1fr;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    margin-left: -20px;
    grid-row-gap: 20px;
   
}

.wrapper{
  box-shadow: 0 0 10px rgb(65, 73, 72);
}
.posts{
  width: 100%;
  padding: 10px;
}

.posts>h1{
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}
.posts img{
  margin: 20px auto;
  width: 100%;
  
}
.posts iframe{
  width: 100%;
  height: 40vh;
}
.posts p{
  padding: 0px 10px;
  font-size: 18px;
  margin: 0px auto;
 
}

body{
  background-color: #fff;
}
.postBlock_wrapper{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  width: 100%;
  min-width: 380px;
  padding: 10px;
  box-shadow: none;
}
 
}